header.main-header
    h1.main-header-text 0xBooper's personal Site
    nav.main-nav
    ul
        li.nav-link: a(href="/index") Home 
        li.nav-link: a(href="/articles") Articles
        li.nav-link: a(href="https://github.com/0xBooper") Github Page
