@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
    margin: none;
    padding: none;
    background-image: linear-gradient(to right, #8bfc8f, #8bc5fc);
}

.container {
    margin: auto 2.5em auto 2.5em;
    background-color: white;
    border-radius: 2rem;
    min-height: 90vh;
    padding: 1.2em;
    font-family: Montserrat, Arial;
}