extends ../../layouts/layout.pug

block header 
    title Articles | Emtec 64GB USB review

block content
    p (Note: The USB drive can be found at  <span><a href="https://www.amazon.ca/EMTEC-ECMMD64GB253-Flash-Drive-Slide/dp/B01N24H1NU">https://www.amazon.ca/EMTEC-ECMMD64GB253-Flash-Drive-Slide/dp/B01N24H1NU</a></span>.)

    p This drive was given to me as a birthday gift, by the way.
    p This "Usb 3.0" drive is WAY slower than normal 3.0 speeds. At best it could be a USB 2.0 drive, but definitely not a USB 3.0 drive.
    
    p Speeds: 
    p The highest I got was 32mb per second, on a USB 2.0 port. On a USB 3.0 port, it sits around the same.
    p Sometimes it can get REALLY slow, like 32kkb per second.

    p Overall, I can't recommend this. If you're on a budget, and you don't care about the speed (and have some time to spare), I suppose this may be good.
    
block articleDate 
    p Made on May 1, 2021