iaaaaextends ../../layouts/layout.pug

block content 
    h2 Perils of getting rid of Photoshop 

    p.  
        One day, I've been wanting to get rid of unneeded programs. Using the old Control Panel to uninstall stuff, I wanted to get rid of Adobe Creative Cloud and Photoshop, which I had absolutely no use for, and it was taking up gigabytes of space on 
        my laptop. I first tried to uninstall Creative Cloud, which didn't work due to it saying that it's "needed for some programs". 
        I tried to uninstall Photoshop, bringing me to now.
    p. 
        Once I tried to uninstall Photoshop, it annoyingly didn't uninstall it and it instead open Creative Cloud. 
        It forced me to create an account and so I did. Then it asked to update Creative Cloud, which at that time I gave up.
        
    p I mean, when proprietary software wants to stay on your system, it'll force you to install more of it to get rid of it.

block articleDate 
    p Made on May 1, 2021