doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="0xBooper (epikbooperia)'s personal blog")
        
        link(rel="stylesheet", href="./css/styles.css")
         
        title Page Not Found | 404
    body
        .container
            include ./includes/nav.pug
            
            .container-404
                h2 Hey! That page you tried to get doesn't exist!
                a(href="/index").link Back to the index page