extends layouts/layout.pug

block content
    h2 Articles: 
    h3 Articles from 2021:
    
    ul 
        li.link: a(href="./articles/2021/bsututorial", target="_blank", rel="noopener noreferrer") The Bash Scripting Utility official tutorial | May 1, 2021, modified May 12, 2021
        li.link: a(href="./articles/2021/perils-of-uninstalling-ps", target="_blank", rel="noopener noreferrer") Perils of uninstalling Photoshop | May 1, 2021
        li.link: a(href="./articles/2021/emtec-64gb-usb-review", target="_blank", rel="noopener noreferrer") A personal review on the Emtec 64GB usb