extends layouts/layout.pug

block header 
    title 0xBooper's site | About me

block content
    
    h2 About Me
        
    p Hey! I'm an aspiring programmer! don't know how you found this site, but well, welcome to my personal site.
    p I live in a northern country, so it's pretty chilly.
    p A few of my hobbies:
    ul
        li Linux
        li Programming/coding, of course
        li Music
    
    p Speaking of Linux, I plan to switch to it sometime.
    p So, those are my hobbies!

    h2 Some of my github projects:
    ul
        li.link: a(href="https://github.com/0xBooper/BashScriptingUtility") A little bash scripting utility I made
        li.link: a(href="https://github.com/0xBooper/0xBooper.github.io") The repo of this website
        li.link: a(href="https://github.com/0xBooper/dotfiles") My Linux dotfiles I tend to use
        li.link: a(href="https://github.com/0xBooper/helperfunc") A npm package containing some useful functions
        li.link: a(href="https://github.com/0xBooper/pokesearch") A very "in-beta" searchable online pokedex
        li.link ...and more!   

