doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 0xBooper's Site
    body
        .container
            header.main-header
                h1.main-header-text 0xBooper's personal Site
                nav.main-nav
                    ul
                        li.nav-link 
                            a(href="/index") Home 
                        li.nav-link
                        li.nav-link 